extends layout/main

block content
    .form-container 
        form(action=routes.changePassword, method="post")    
            input(type="password", name="password1", placeholder="Current Password")
            input(type="password", name="password2", placeholder="New Password")
            input(type="password", name="password3", placeholder="Verify Password")
            input(type="submit", name="password4", placeholder="Change Password")